.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    background-color: aqua;

}
h1, h2{
    color: aqua;
}

#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
body{
    background-color: rgb(5, 1, 42);
}
button{
    padding: 5px 10px 5px 10px;
    background-color: aqua;
    border-radius: 4px;
}